<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Blog Website</title>
</head>
<body>
    <section class="container">
       <h1 class="mb-4">Blog Articles</h1>
       <a href="/articles/add" class="btn btn-success">Add an Article</a>
    

        <% articles.forEach(article => { %>
            <article class="card mt-4">
                <div class="card-body">
                    <div class="card-title"><%= article.title %></div>
                    <div class="card-subtitle text-muted mb-2"><%= article.created.toLocaleDateString() %></div>
                    <div class="card-text mb-2"><%= article.description %></div>
                </div>
                
            </article>
        <% }) %>

    </section>

</body>
</html>