<div class="form-group">
    <label for="title">Text</label>
    <input required type="text" name="title" class="form-control" value="<%= article.title %>">
</div>

<div class="form-group">
    <label for="description">Description</label>
    <textarea name="description" class="form-control"><%= article.description %></textarea>
</div>

<div class="form-group">
    <label for="markdown">Markdown</label>
    <textarea name="markdown" class="form-control"><%= article.markdown %></textarea>
</div>

<a href="/articles" class="btn btn-secondary">Cancel</a>
<input type="submit" class="btn btn-primary" value="Save">
